:root {
    --background-colour: white;
    --nav-color: rgb(37, 6, 56);
    --purple-card-color: rgb(211, 138, 245);
    --purple-ink: rgb(46, 4, 65);
    --yellow-card-color: rgb(244, 210, 72);
    --yellow-ink: rgb(51, 41, 3);
    --pink-card-color: rgb(244, 147, 171);
    --pink-ink: rgb(78, 12, 28);
    --other-card-color: rgb(234, 159, 172);
    --shadow: 0 2px 16px rgba(0, 0, 0, 0.267);
    --card-margin: 30px 0px 0px 0px;
    --card-padding: 10px 15px;
    --card-width: 27.5vw;
    --border-radius: 18px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    width: 100vw;
    margin-top: 16vh;
}


/* HEADER */

.main-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    height: 50px;
    width: 60vw;
    padding: 0px 10px;
    border-radius: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.title {
    text-align: center;
}

.main-title {
    font-family: "Edu NSW ACT Cursive", cursive;
    font-weight: 520;
    font-size: 1.8rem;
}

.profile-pic {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: rgba(37, 6, 56, 0.247);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#initial {
    font-size: 1.3rem;
    font-weight: 650;
    color: var(--nav-color);
}

/* HERO SECTION */

.hero-section {
    width: 100vw;
}

.hero-first-div {
    width: 60vw;
    gap: 15px;
    display: flex;
    justify-content: center;
    margin: 1px auto;
}

.greeting {
    width: 59vw;
    margin: 0px auto 0px auto;
    border-radius: 25px;
}

.greeting-text {
    font-size: 3rem;
    font-weight: 500;
}

#date {
    font-size: 1.3rem;
}

.greet-seperation{
    height: 1.5px;
    width: 98%;
    background-color: var(--nav-color);
    border-radius: 100px;
    margin: 20px auto 0px auto;
}

.current {
    height: 20vh;
    width: var(--card-width);
    margin: var(--card-margin);
    padding: var(--card-padding);
    border-radius: var(--border-radius);
    background-color: var(--purple-card-color);
    color: var(--purple-ink);
    box-shadow: var(--shadow);
}



.next {
    height: 20vh;
    width: var(--card-width);
    margin: var(--card-margin);
    padding: var(--card-padding);
    border-radius: var(--border-radius);
    background-color: var(--pink-card-color);
    color: var(--pink-ink);
    box-shadow: var(--shadow);
}

.today {
    width: 58vw;
    margin: 13px auto 0px auto;
    padding: var(--card-padding);
    border-radius: var(--border-radius);
    background-color: var(--yellow-card-color);
    color: var(--yellow-ink);
    box-shadow: var(--shadow);
}

.card-description {
    font-size: 1.05rem;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 0px 0px;
    margin: 5px 0;
}

/* NAV BAR */

nav {
    background-color: var(--nav-color);
    margin: 10px auto;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    width: 52vw;
    height: 30px;
    color: white;
    box-shadow: var(--shadow);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.home:active {
    border-bottom: 2px solid white;
}